<div class="portfolio-section" id="portfolio-blackwinter">
    <div class="portfolio-header">
        <p class="neon-red">
            Black Winter
            <i class="neon-icon icon fa fa-windows"></i>
            <i class="neon-icon icon fa fa-html5"></i>
        </p>
        <p class="portfolio-download-details">
                DOWNLOAD & PLAY ONLINE: <a href="https://warbelt.itch.io/black-winter" target="_blank">ITCH.IO</a>
        </p>
    </div>
    <div class="portfolio-content">
        <p>
            <b>Text based narrative adventure</b> I made for a game Jam with the theme "isolation".
        </p>
        <p>
            I wanted to try my skills at narrative design, creating a <b>narrative-driven</b> game that is focused on moral choices rather than resource management.
        </p>
        <p>
            In this game, the player is faced with a series of decisions through text cards. <br>
            Each card presents a situation and asks the player to make a choice between the two possible choices. 
            Those have a <b>gameplay-wise outcome</b> (resources are won and lost) and a <b>narrative</b> outcome (stories branch depending on the choices).
        </p>
        <p>
            Tools used: <b>Unity</b><br>
            The game is playable from a browser or downloadable for Windows.
        </p>
    </div>
    <div class="portfolio-sidebar">
        <div class="screenshot-container">
            {% include portfolio/modal-screenshot.html src="caverynth1.png" alt="Black Winter" %}
            {% include portfolio/modal-screenshot.html src="caverynth2.png" alt="Black Winter" %}
            {% include portfolio/modal-screenshot.html src="caverynth300x200.gif" alt="Black Winter gameplay" %}
        </div>
    </div>
</div>