<div class="portfolio-section" id="portfolio-caverynth">
    <div class="portfolio-header">
        <p class="neon-red">
            CAVERYNTH
            <i class="neon-icon icon fa fa-windows"></i>
            <i class="neon-icon icon fa fa-html5"></i>
        </p>
        <p class="portfolio-download-details">
                DOWNLOAD & PLAY ONLINE: <a href="https://warbelt.itch.io/caverynth" target="_blank">ITCH.IO</a>
        </p>
    </div>
    <div class="portfolio-content">
        <p>
            Short 2D platformer originally made for the CovidGameJam in April 2020. The theme of the jam was <b>repetition</b></br>
            At the time of making this game I was (and probably still am) obsessed with the game <b>Celeste</b>. I wanted to make a platformer that, like Celeste, featured levels challenging both the <b>skill</b> plane and the <b>problem-solving plane</b>.
        </p>
        <p>
            The game features 12 levels progressively built over the previous one. Starting from a simple walk, <b>in each level a new obstacle is added</b> to the course.<br>
            This creates the feeling of repeating the same level, while <b>progressively adding challenge</b>, either via skill checks in which the player needs to be precise, or "puzzle" obstacles, which require thinking to find the path to the end of the level. 
        </p>
        <p>
            I took this game as an excellent chance of exploring 2D level design, and also fiddled with the new Unity 2D lighting system and the particle system.
        </p>
        <p>
            Tools used: <b>Unity</b> & <b>Aseprite</b>
            The game is playable from a browser or downloadable for Windows.
        </p>
    </div>
    <div class="portfolio-sidebar">
        <div class="screenshot-container">
            {% include portfolio/modal-screenshot.html src="caverynth1.png" alt="Caverynth" %}
            {% include portfolio/modal-screenshot.html src="caverynth2.png" alt="Caverynth" %}
            {% include portfolio/modal-screenshot.html src="caverynth300x200.gif" alt="Caverynth gameplay" %}
        </div>
    </div>
</div>