<div class="portfolio-section" id="portfolio-demonwoods">
    <div class="portfolio-header">
        <p class="neon-red">
            DEMON WOODS
            <i class="neon-icon icon fa fa-android"></i>
            <i class="neon-icon icon fa fa-html5"></i>
        </p>
        <p class="portfolio-download-details">
                DOWNLOAD & PLAY ONLINE: <a href="https://play.google.com/store/apps/details?id=com.warbelt.demonwoods" target="_blank">GOOGLE PLAY</a>
        </p>
    </div>
    <div class="portfolio-content">
        <p>
            2D casual action game originally intended for mobile platforms.
        </p>
        <p>
            I wanted to create an <b>easy-to-learn, hard-to-master</b> game, with the simplest controls possible. 
            The game has only <b>two controls</b>: tap the left part of the screen to defend, and the right part to attack.
        </p>
        <p>
            The game <b>flow is focused on the timing</b> of those two actions, while one takes a time to recover and the other one needs a time to take effect.
        </p>
        <p>
            The game features a perk system, in which the player can trade in skulls gained from killing enemies, in exchange for upgrades.
        </p>
        <p>
            All design and programming by me. Music and most art assets are free domain from itch.io and credited in-game and in the game's page.<br>
            Tools used: <b>Unity</b> & <b>Aseprite</b>
        </p>
        <p>
            I designed and developed this game for Android devices and later ported it to HTML5, adding suitable controls for a browser.
        </p>

    </div>
    <div class="portfolio-sidebar"> 
        <div class="screenshot-container">
            {% include portfolio/modal-screenshot.html src="demonwoods2.jpg" alt="Demon Woods" %}
            {% include portfolio/modal-screenshot.html src="demonwoods1.jpg" alt="Demon Woods" %}
            {% include portfolio/modal-screenshot.html src="demonwoods320x152.gif" alt="Demon Woods gameplay" %}
        </div>
    </div>
</div>