<div class="portfolio-jams">
    <div id="portfolio-blackwinter">
        <p class="neon-red">Black Winter
            <i class="neon-icon icon fa fa-html5"></i>
        </p>
        <p class="play-link"><a href="https://gamejolt.com/games/black_winter/478058" target="_blank">PLAY ONLINE: GAMEJOLT</a></p>
        <div class="portfolio-miniature-container blackwinterss"></div>
        <div class="description">
            <p>
                <b>Text based adventure</b> I made for a game Jam with the theme "isolation".
            </p>
            <p>
                I wanted to try my skills at narrative design, creating a <b>narrative-driven</b> game that is focused on moral choices rather than resource management.
            </p>
        </div>
    </div>
    <div id="portfolio-theoldshelter">
        <p class="neon-red">The Old Shelter
            <i class="neon-icon icon fa fa-html5"></i>
        </p>
        <p class="play-link"><a href="https://braverobot.itch.io/the-old-shelter" target="_blank">PLAY ONLINE: ITCH.IO</a></p>
        <div class="portfolio-miniature-container theoldshelterss"></div>
        <div class="description">
            <p>
                Game made for Ludum Dare Jam 46 with a team of 6 people.
            </p>
            <p>
                I worked in this game as a designer and C# developer.
            </p>
        </div>
    </div>
</div>