<div class="portfolio-show">
    <div>
        <p class="neon-red">Demon Woods
        </p>
        <a href="#portfolio-demonwoods" data-scroll>
            <div class="portfolio-miniature-container demonwoods">
                <div class="portfolio-miniature-overlay">
                    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
        </a>
        </div>
        <div>
            <p class="neon-red">Caverynth
            </p>
        <a href="#portfolio-caverynth" data-scroll>
            <div class="portfolio-miniature-container caverynth">
                <div class="portfolio-miniature-overlay">
                    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>
</div>