<div class="portfolio-show">
    <div>
        <p class="neon-red">Black Winter
        </p>
        <a href="#portfolio-blackwinter" data-scroll>
            <div class="portfolio-miniature-container blackwinter">
                <div class="portfolio-miniature-overlay">
                    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>
    <div>
        <p class="neon-red">The Old Shelter
        </p>
        <a href="#portfolio-theoldshelter" data-scroll>
            <div class="portfolio-miniature-container theoldshelter">
                <div class="portfolio-miniature-overlay">
                    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>
</div>