<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 

<div class="user-details">
  <h1 class="section-title">About me</h1>
  <p>Hi! Mi name is Mario, and I am a Game Developer from Spain. You probably already figured that I want to make videogames.</p>
  <p>Well, I don't want to just <i>make</i> videogames.</p>
  <p>I want to <span class="code-games glitch" data-text="CODE">CODE</span> games.</p>
  <p>I want to <span class="design-games rainbow-text"><i>Design</i></span> games.</p>
  <p>I want to learn about every last bit of how videogames are made.</br>
    I'm always looking for a new project, a new tool, a new jam, a new game. Something cool to play with or something challenging to test and develop my skills.
</div>

<h1 class="my-skills-title">My skills</h1>
<div class="user">
  <div class="tech">
    <h2>Coding</h2>
    <img class="icon" src="assets/img/csharp.png">
    <img class="icon" src="assets/img/python.png">
    <img class="icon" src="assets/img/javascript.png">     
    <p>Besides C# for amateur games, I've been coding professionally in Python and Javascript for 2.5 years. I've also worked a bit with Scala and feel confortable with both Object Oriented and Functional programming.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img class="icon" src="assets/img/unity.png">
    <img class="icon" src="assets/img/git.png">
    <img class="icon" src="assets/img/jira.png">
    <p>I mostly use Unity with C# for my games. I'm comfortable using Git and I won't rewrite your branch's history. I've been working professionally in Agile environments for the last 2.5 years and used JIRA software for the most part of it.</p>
  </div>
</div>
