@font-face {
    font-family: 'neonregular';
    src: url('/assets/fonts/neon-webfont.woff2') format('woff2'),
         url('/assets/fonts/neon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'roboto_condensedregular';
    src: url('/assets/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'digitaldiscomedium';
    src: url('/assets/fonts/digitaldisco-webfont.woff2') format('woff2'),
         url('/assets/fonts/digitaldisco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'digitaldiscothin';
    src: url('/assets/fonts/digitaldisco-thin-webfont.woff2') format('woff2'),
         url('/assets/fonts/digitaldisco-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }